on:
  push:
     branches:
       - master

name: renderbook

jobs:
  bookdown:
    name: Render-Book
    runs-on: macOS-latest
    steps:
      - uses: actions/checkout@v1
      - uses: r-lib/actions/setup-r@v1
      - uses: r-lib/actions/setup-pandoc@v1
      - name: Install rmarkdown, bookdown, tinytex and remotes
        run: Rscript -e 'install.packages(c("rmarkdown","bookdown", "tinytex", "remotes"))'
      - name: Install Tinytex
      - run: Rscript -e 'tinytex::install_tinytex()'
      - name: Install tisemdown
      - run: Rscript -e 'remotes::install_github("deer-marketing-lab/tisemdown")'
      - name: Render Book
        run: Rscript -e 'bookdown::render_book("index.Rmd")'
      - uses: actions/upload-artifact@v1
        with:
          name: _book
          path: _book/